nupkg/
*.nupkg

/.vscode/

*.suo
*.user
*.userosscache
*.cache
*.exe
*.dll
*.dll.config

[Dd]ebug/
[Dd]ebugPublic/
build/
[Bb]in/
out/
obj/

!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll